<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Box7">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0784313725490196 -0.0715686274509804 0.075"
        rpy="0 0 0" />
      <mass
        value="3.1875" />
      <inertia
        ixx="0.0116030943627451"
        ixy="-0.000662530637254902"
        ixz="-5.29395592033937E-20"
        iyy="0.0116030943627451"
        iyz="1.58818677610181E-19"
        izz="0.0112530637254902" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Box7/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Box7/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>