<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="u005-v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="22.2195995665307 14.0176951278951 2.39158004371924"
        rpy="0 0 0" />
      <mass
        value="867740.095762179" />
      <inertia
        ixx="20123458.9700584"
        ixy="-6880381.86529837"
        ixz="221410.597019797"
        iyy="46295466.836472"
        iyz="85723.6495415434"
        izz="62633358.9568499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u005-v2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u005-v2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>