<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="u05_v1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1 -19.22718200864 8.18507576144311"
        rpy="0 0 0" />
      <mass
        value="1440351.18891264" />
      <inertia
        ixx="258003342.809903"
        ixy="-1.23140323224443E-09"
        ixz="2.96710353731467E-11"
        iyy="50756886.5455996"
        iyz="-46049923.7642755"
        izz="208206690.390245" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u05_v1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u05_v1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>